
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;

}


.site-header {
    border-bottom: 1px solid #ccc;
    /* background-color: rgb(202, 134, 134); */
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

tr{
    height: 14px;
  }
  

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.dataframe{
    height: 70vh;
    overflow: scroll;
}


.site-identity{
    display: flex;
    align-items: center;
}

